

.forum-wrapper {
    background: #eeee;
    
}

.tema {
    width: 100%;
}

.naslov-tema {
    font-size: 30px;
    color: #434343;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.text-tema {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 8rem;
    border-radius: 20px;
    background: #eeee;
    outline: none;
    border: 1px solid gray;
    width: 30rem;
    padding: 20px;
    font-size: 22px;
    margin: 20px;

}


.text-tema:focus {
    border: 2px solid #106dee;
    background: white;
}

.input-tema-naslov {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 2.5rem;
    border-radius: 20px;
    background: #eeee;
    outline: none;
    border: 1px solid gray;
    width: 30rem;
    padding: 10px;
    font-size: 22px;
    margin: 20px;
}

.input-tema-naslov:focus {
    border: 2px solid #106dee;
    background: white;
    
}



.tema-header-wrapper {
    background: white;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
-webkit-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
-moz-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
}

.razprava {
    padding-left: 25px;
    font-size: 1.5rem;
    margin: 10px;
}


.add-komentar-form {
    padding-top: 20px;
}

.add-komentar-wrapper {
    border-radius: 20px;
    background: white;
    margin: 20px;
    box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -webkit-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
}

.input-button-komentar {
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

textarea.input-komentar {
    width: 600px;
    height: 200px;
    background: #eeee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    
}

.objavi-komentar {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    background: #106dee;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 130px;
    margin: 20px;
    
}

.padding {
    padding: 5px;
    width: 9rem;
}



.whole-page-wrapper {
    width: 100%;
    height: 100%;
}

.objavi-komentar:focus {
    background: #00B2FF;
    border: 1px solid #00B2FF;
}

.objavi-komentar:hover {
    background: #00B2FF;
    border: 1px solid #00B2FF;
}



textarea.input-komentar:focus {
    background: white;
    border: 2px solid #106dee;
    outline: none;
}

.add-komentar {
    font-size: 30px;
    font-weight: bold;
    padding-left: 25px;
    color: #434343;
}

.naslov {
    padding-bottom: 10px;
}

.ok {
    color:#00B2FF;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.notOk {
    color: red;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.naslov-para {
    font-size: 3rem;
    padding-left: 20px;
    margin-top: 20px;
    color: #434343;
}

.line-bottom {
    border-bottom: 4px solid gray;
    height: 10rem !important;
}

.line-bottom:hover {
    border-bottom: 5px solid #00B2FF;
}

.close-wrapper {
    display: flex;
    align-items: right;
    justify-content: right;
    height: 5rem;
    background: #00B2FF;
    padding-right: 30px;
}


.icon:hover {
    transition: 1s;
    fill: #106dee;
}

.middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.omejitev-visine {
    height: 5rem;
}

.nested {
    padding-left: 10px;
}



.tema-creator-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-top: 10px;
}

.teme-wrapper {
    margin: 20px;
    /*border-radius: 20px;
    background: white; */
  
    border-radius: 20px;;
    
}

.teme {
    margin: 20px;
    /*border-radius: 20px;
    background: white; */
    background: white;
    border-radius: 20px;;
    box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -webkit-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    padding: 20px;
}


.comment-header-wrapper {
    /*background: pink; */
    display: flex;
    flex-direction: row;
    height: 5rem;
}

.header-team-wrapper {
    display: flex;
    flex-direction: row;
    background: #00B2FF;
    
    justify-content: end;
}

.nova-tema-form-wrapper {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 40px;
   
   
}

.posodobi-temo-link {
    display: inline-block;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    fill: none;
    color: #434343;
}

.nova-tema-wrapper {
    
    
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: white;
    margin: 40px;
    justify-content: center;
    box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -webkit-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
}

.nova-tema-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.tema-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left {
    width: 80%;
    color: rgba(99, 99, 99, 0.933);
}

.right {
    width: 20%;
    color: rgba(99, 99, 99, 0.933);
}

.right-right {
    width: 20%;
    color: rgba(99, 99, 99, 0.933);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    align-self: center;
}

.delete-icon:hover {
    transition: 0.6s;
    fill: red;
}

.bold {
    font-weight: bold;
    font-size: 1.5rem;
}

.update-icon:hover {
    transition: 0.6s;
    fill:#106dee;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.naslov-datum {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;

}



.komentar-section-wrapper {
    background: white;
    width: 100%;
    border-radius: 20px;
    padding-top: 25px;
    box-shadow: 7px 9px 25px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 9px 25px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 25px -4px rgba(0,0,0,0.75);
    
}


.reply-page-wrapper {
    height: 100%;
}

.search-form-wrapper {
    display: flex;
    flex-direction: row;
}

.komentar {
  /*  background: lightskyblue; */
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
}

.column-direction {
    display: flex;
    flex-direction: column;
}

.main-page-content {
    border-radius: 20px;
    padding: 10px;
    margin: 30px;
    background: white;
    box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -webkit-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 9px 20px -10px rgba(0,0,0,0.38);
}

.reply {
   /* margin-left: 20px; */
   margin-top: 10px;
}

.profile-picture {
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    object-fit: cover;
    
}

.profile-pic-wrapper {
    width: 5rem;
    height:5rem;
    
}

.all-comment-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 25px;
}

.person-data-wrapper {
    width: 100%;
    display: flex;
    justify-content:center;
    padding-left: 10px;
    align-items: left;
    flex-direction: column;
    margin: 2px;
    
}

.komentar-text-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.line-wrapper {
  /*  background: lightseagreen; */
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.line {
    width: 50%;
    height: 100%;
    align-self:flex-end;
    border-left: 4px solid gray;
    border-bottom-left-radius: 20px;

}

.line:hover {
    border-left: 5px solid #00B2FF;

}



.first-last-name-para {
    font-size: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight:500;
    line-height: 1.7em;
}


.date-para {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;

}

.komentar-para {
    font-size: 20px;
    padding-left: 10px;
}

.replying-button {
    outline: none;
    border: none;
    background: white;
}


svg:hover {
    fill:#106dee;
}


@media only screen and (max-width: 860px) {
    textarea.input-komentar {
        resize: none;
        width: 90%;
        font-size: 18px;
        height: 10rem;
    }

    .vnos-replya {
        resize: none !important;
        width: 90% !important;
    }

    .add-komentar-wrapper {
        margin: 0;
    }

    .tema-header-wrapper {
        margin: 0px;
    }

    .close-wrapper {
        padding: 0px;
    }

    .main-page-content {
        margin: 0px;
        
    }

    .line-bottom {
        border-bottom: 2px solid gray;
    }
}


@media only screen and (max-width: 600px) {
    .teme {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        background: white;
        box-shadow: none;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        border-radius: 0px;
    }

    .teme-wrapper {
        margin: 0 auto;
    }

    .posodobi-temo-link {
        background: #eeee;
    }

    .nova-tema-wrapper {
        margin: 0 auto;
        border-radius: 0;
        box-shadow: none;
    }

    .left.bold {
        font-size: 18px;
    }
    .naslov-tema {
        font-size: 22px;
    }

    .input-tema-naslov {
        width: 20rem;
        height: 1.5rem;
        font-size: 0.8rem;
    }
    .text-tema {
        resize: none;
        width: 20rem;
        font-size: 0.8rem;
    }

    .objavi-komentar {
        height: 45px;
        width: 110px;
        font-size: 16px;
    }

    .profile-picture {
        width: 3.5rem;
        height:3.5rem;
        border-radius: 50%;
        object-fit: cover;
        
    }

    .first-last-name-para {
        font-size: 18px;
    }

    .person-data-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
        align-items: left;
        flex-direction: column;
        margin: 2px;
    }

    .date-para {
        font-size: 13px;
    }

    .naslov-para {
        font-size: 1.5rem;
        margin: 10px;
    }

    .razprava {
        font-size: 1.2rem;
    }

    .add-komentar {
        font-size: 1.5rem;
        margin: 10px;
    }

    textarea.input-komentar {
        resize: none;
        width: 18rem;
        font-size: 18px;
        height: 10rem;
    }

    .komentar-para {
        font-size: 17px;
    }

    .line {
        border-left:2px solid gray;
    }

    .line-wrapper {
        width: 3.5rem;
    }
}