.forum-wrapper {
    /*background: #eeee; */

}

.header-team-wrapper {
    display: flex;
    flex-direction: row;
    background: #106dee;
    border-left: 3px solid black;
}

.nova-tema-wrapper {
    
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nova-tema-form {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.tema-wrapper {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.left {
    width: 80%;
    color: rgba(99, 99, 99, 0.933);
}

.right {
    width: 20%;
    color: rgba(99, 99, 99, 0.933);
}

a {
    text-decoration: none;

}

.komentar-section-wrapper {
    background: white;
}

.search-form-wrapper {
    display: flex;
    flex-direction: row;
}

.komentar {
    background: lightskyblue;
    margin-bottom: 30px;
    margin-left: 10px;
}

.reply {
    margin-left: 20px;
}