body,html {
    width: 100%;
    height: 100%;
}


.heading {
    font-size: 2rem;
    color: #106dee;
}

.settings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #EEEEEE;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings {
    
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
}

.profilka {
    width: 15rem;
    height:15rem;
    border-radius: 50%;
    object-fit: cover;
}

.profilka-settings{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2vw;
}

.profilka-link {
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}


label {
    font-size: 1.5rem;
    color: #434343;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 20rem;
    height: 1.0vw;
    border: 0px;
    outline: none;
    border-radius: 20px;
    font-size: 1.5vw;
    padding: 10px;
    text-align: center;
    color: #434343;
    margin-top: 10px;
    margin-bottom: 25px;
}

input:focus {
    border: 3px solid #106dee;
}



textarea {
    width: 30rem;
    height: 20rem;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.2vw;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #434343;
    display: flex;
    flex-direction: column;
    align-self: center;
    resize: none;
}

.success {
    color: #00B2FF;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.upload-file {
    width: 120px;
    height: 50px;
    border: 1px solid #106dee;
    border-radius: 25px;
    background: #106dee;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;

}

.upload-file:hover {
    
    background: #00B2FF;
    border: 1px solid #00B2FF;
    transition: 0.6s;
    
}

.upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    width: 3rem;
    height: 3rem;
}

@media only screen and (max-width: 1000px) {
    .profilka {
        width: 10rem;
        height: 10rem;
    }
    .upload-file {
        width: 90px;
        height: 40px;
        font-size: 14px;
    }

    svg {
        width: 2rem;
        height: 2rem;
    }

    input {
        font-size: 20px;
    }

    textarea {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    textarea {
        font-size: 20px;
        width: 20rem;
    }
}