:root {
    font-size: 16px;
    font-family: 'Arial';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #106dee;
    --bg-secondary: #00B2FF;
    --transition-speed: 600ms;
  }

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


.registracija {
    width : 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registracija-wrapper {
    background: white;
    width: 90%;
    height: 90%;
    box-shadow: 4px 14px 76px -13px rgba(0,0,0,0.73);
    -webkit-box-shadow: 4px 14px 76px -13px rgba(0,0,0,0.73);
    -moz-box-shadow: 4px 14px 76px -13px rgba(0,0,0,0.73);
    display: flex;
    flex-direction: row;;
}

.left {
    background: lightgreen;
    width: 30%;
    background: #106dee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    background: white;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-heading {
    text-align: center;
    font-size: 60px;;
    color: #106dee;
}


.input {
    margin: 25px;
    height: 28px;
    width: 60%;
    border-bottom: 1px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    padding: 0px 0px 0px 5px;
}


.input:focus {
    border-bottom: 3px solid #106dee;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}

.registracija-gumb {

        width: 140px;
        height: 60px;
        border: 1px solid #106dee;
        border-radius: 35px;
        background: #106dee;
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin: 15px;
    
}



.registracija-gumb:hover {
    background: #00B2FF;
    border: 1px solid #00B2FF;
    transition: 0.6s;
}

.left-header {
    font-size: 60px;
    color: white;
}


.left-content-para {
    font-size: 22px;
    color: white;
}

.prijava {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    border-radius: 25px;
    background: #106dee;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 130px;
}


.prijava:focus {
    background: #00B2FF;
    border: 1px solid #00B2FF;
}

.prijava:hover {
    background: #00B2FF;
    border: 1px solid #00B2FF;
    transition: 0.6s;
}

.error {
    color: red;
    font-size: 20px;
}

@media only screen and (max-width: 1800px) {
    .left-header {
        font-size: 45px;
        text-align: center;
    }

    .left-content-para {
        font-size: 18px;
    }
    .register-heading {
        font-size: 30px;
        margin-top: 0px;
    }

    .form {
        
    }

    .form-wrapper {
        height: 100;
    }
    .registracija {
        width: 100%;
        height: 100%;
    }

    .input {
        border: 1px solid gray;
        border-radius: 15px;
        height: 30px;
        margin: 8px;
        width: 50%;
        
    }

    .input:focus {
        border: 2px solid #106dee;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .error {
        margin: 10px;
    }

    .registracija-gumb {
        width: 7rem;
        height: 3rem;
        font-size: 16px;
    }

    .left-header {
        font-size: 30px;
    }

    .left-content-para {
        font-size: 18px;
        margin: 10px;
    }
    .prijava {
        width: 7rem;
        height: 3rem;
    }
}

@media only screen and (max-width: 1100px) {
    .registracija-wrapper {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    .registracija-wrapper {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .prijava {
        margin: 20px;
    }

    .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .register-heading {
        text-align: center;
        font-size: 30px;;
        color: #106dee;
        margin-top: 20px;
    }

    .input {
        margin: 30px;
    }

    .registracija-gumb {
        font-size: 15px;
        width: 120px;
        height: 50px;
    }
    
}